TrackingVaccineClient/Connected Services/AuthenticationService/AuthenticationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackingVaccineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackingVaccineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Residents" nillable="true" type="tns:ArrayOfResident" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfResident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resident" nillable="true" type="tns:Resident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResident" nillable="true" type="tns:ArrayOfResident" />
  <xs:complexType name="Resident">
    <xs:sequence>
      <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="VaccineUsages" nillable="true" type="tns:ArrayOfVaccineUsage" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resident" nillable="true" type="tns:Resident" />
  <xs:complexType name="ArrayOfVaccineUsage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VaccineUsage" nillable="true" type="tns:VaccineUsage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaccineUsage" nillable="true" type="tns:ArrayOfVaccineUsage" />
  <xs:complexType name="VaccineUsage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Resident" nillable="true" type="tns:Resident" />
      <xs:element minOccurs="0" name="Vaccine" nillable="true" type="tns:Vaccine" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="resident_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="used_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vaccine_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VaccineUsage" nillable="true" type="tns:VaccineUsage" />
  <xs:complexType name="Vaccine">
    <xs:sequence>
      <xs:element minOccurs="0" name="VaccineUsages" nillable="true" type="tns:ArrayOfVaccineUsage" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="registered_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="registered_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaccine" nillable="true" type="tns:Vaccine" />
</xs:schema>